<html>
<body>
<div>
    <form id="form">
        <input id="title" name="title" />
        <input id="content" name="content" />
        <input type="button" title="전체보기" name="tot" onclick="login()" value="로그인"></input>

    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    var lists = [];
    window.onload = function(){ getBoardList(); }
    function getBoardList() {
        var title = document.getElementById("title").value;
        var content = document.getElementById("content").value;

        
        var params = {
            "title" : title,
            "content" : content,
            "writerId" : 
        }
        axios
        .get('http://localhost:4041/api/board/')
        .then(res => {
            $('#myTable').append('<table><thead><tr><th>번호</th>' +
                    '<th>제목 </th>' +
                    '<th>작성자</th>' +
                    '<th>날짜</th>' +
                    '<th>조회수</th></tr></thead>');
           res.data.forEach((list, i) => {
            lists.push(list);
            $('#myTable').append(
                '<tbody><tr><td>'+list.id + '</td><td><a href="/api/detail/' + list.id + '">' + list.title + 
                '</a></td><td>' + list.writerId + '</td><td>' + list.date + 
                    '</td><td>' +  list.hit + '</td></tr></tbody>' +
                    '</table>');
           });
           console.log(lists);
        })
        .catch(error => {
            console.log(error)
        })
    }
</script>
  writerId